/*Home*/
.home-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
input{
  width: 80%;
  height: 50px;
  border: none;
  border-radius: 8px;
  text-align: center;
}
.create-room{
  margin-top: 60px;
  border-radius: 8px;
  background-color: #A5B5F3;
}
.join-room{
  margin-top: 30px;
  border-radius: 8px;
  background-color: #CDA5F2;
}
/*Createroom*/
.createroom-container {
  height: 100vh;
  padding: 25px;
  background-color: #a45ee5;
  color: white;
  font-family: Arial, sans-serif;
}

.text {
font-size: 22px;
letter-spacing: 2px;
font-weight: 800;
}

.slider-container {
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 20px;
}

.slider {
width: 80%;
}

.value-text {
font-size: 24px;
font-weight: bold;
}

.difficulty {
margin-top: 50px;
}

.difficulty-selector {
display: flex;
margin-top: 30px;
border: 3px solid #fff;
border-radius: 5px;
}

.difficulty-option {
flex: 1;
padding: 15px;
text-align: center;
cursor: pointer;
}

.selected {
background-color: #7e3abd;
}

.difficulty-text {
font-size: 18px;
font-weight: 600;
}

.time {
margin-top: 50px;
}

.dropdown-button {
padding: 10px 15px;
background-color: #7e3abd;
border-radius: 5px;
margin-top: 30px;
text-align: center;
cursor: pointer;
color: white;
font-size: 18px;
}

.dropdown {
background-color: #fff;
border-radius: 5px;
margin-top: 5px;
}

.dropdown-item {
padding: 10px 15px;
cursor: pointer;
}

.dropdown-item-text {
font-size: 18px;
color: #7e3abd;
}

.selected-text {
color: #a45ee5;
font-weight: 600;
}

.btn {
margin-top: 300px;
display: flex;
justify-content: center;
}

.create-button {
background-color: #a5b5f3;
border-radius: 8px;
border: none;
padding: 10px 20px;
color: white;
font-size: 18px;
cursor: pointer;
}
/*Rolepicking*/
.role-picking-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
background-color: #cda5f2;
color: white;
font-family: Arial, sans-serif;
}

.role-picking-buttons {
display: flex;
justify-content: space-between;
flex-direction: row;
margin-top: 40px;
width: 75%;
}

.role {
display: flex;
flex-direction: column;
justify-content: center;
border-radius: 10px;
padding: 10px;
cursor: pointer;
text-align: center;
}

.quizmaster {
background-color: #f4a5b0;
}

.player {
background-color: #a5cbf4;
}

.role-text {
color: white;
font-size: 20px;
font-weight: 600;
margin-top: 10px;
letter-spacing: 1px;
}
/*Players waiting*/
.players-waiting-container {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height: 100vh;
background-color: #a55ee5;
color: white;
font-family: Arial, sans-serif;
}

.players-waiting-text {
font-size: 24px;
}

.players-waiting-count {
margin-top: 20px;
color: white;
font-weight: 800;
}

/*WaitingForPlayer*/

.waiting-for-player-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #f4a5b0;
  font-family: Arial, sans-serif;
}

.waiting-for-player-text {
  color: white;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

.waiting-for-player-role {
  color: white;
}

/*Waitingforquizmaster*/

.waiting-for-quizmaster-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #a5cbf4;
  font-family: Arial, sans-serif;
}

.waiting-for-quizmaster-text {
  color: white;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

.waiting-for-quizmaster-role {
  color: white;
}